.sp-img {
    height: 70%;
    top: 10%;
    left: 10%;
    box-shadow: 0px 0px 3px 1px #e9e1d7;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 2px;
}
.login-container {
    width: 35%;
    top: 150px;
}